@media only screen and (max-width: 1023px) {
    #about-container {
        flex-wrap: wrap;
    }

    .about-img {
        width: 100%;
        height: 45rem;
        margin: 0;
    }

    .about-img img {
        object-fit: cover;
    }

    .about-content {
        margin-top: 3rem;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    #navbar {
        justify-content: flex-start;
    }

    #logo-box {
        margin-left: 1rem;
    }

    #nav-links {
        display: none;
    }

    #nav-links li a {
        color: black;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        width: 20rem;
        display: block;
        text-align: center;
    }



    /* hamburger menu icon styling begins here */

    /* Styles for the menu icon */
    .menu-btn {
        display: block;
        position: absolute;
        width: 6rem;
        height: 6rem;
        top: 2rem;
        right: 3rem;
        transition-duration: 0.5s;
        cursor: pointer;
    }

    /* Styles for the circular icon */
    .menu-btn .icon-circle {
        transition-duration: 0.5s;
        position: absolute;
        height: 4.5rem;
        width: 4.5rem;
        top: 0;
        border-radius: 100%;
        background: transparent;
        border: 3px solid black;
    }

    /* Hover effect for the circular icon */
    .menu-btn .icon-circle:hover {
        background: #fff;
    }

    /* Styles for the additional icon inside the circular icon */
    .menu-btn .icon {
        transition-duration: 0.5s;
        position: absolute;
        height: 3px;
        width: 2.5rem;
        background-color: #212121;
        border-radius: 4px;
        top: 2.1rem;
        left: 1rem;
    }

    /* Styles for the top bar of the additional icon */
    .menu-btn .icon:before {
        transition-duration: 0.5s;
        position: absolute;
        width: 2.5rem;
        height: 3px;
        background-color: #212121;
        border-radius: 4px;
        content: "";
        top: -0.7rem;
    }

    /* Styles for the bottom bar of the additional icon */
    .menu-btn .icon:after {
        transition-duration: 0.5s;
        position: absolute;
        width: 2.5rem;
        height: 3px;
        background-color: #212121;
        border-radius: 4px;
        content: "";
        top: 0.7rem;
    }

    /* Styles for the open state of the menu icon */
    .menu-btn.open .icon {
        transition-duration: 0.5s;
        background: transparent;
    }

    .menu-btn.open .icon:before {
        transform: rotateZ(-45deg) scaleX(1.25) translate(-0.4rem, 0.5rem);
    }

    .menu-btn.open .icon:after {
        transform: rotateZ(45deg) scaleX(1.25) translate(-0.4rem, -0.5rem);
    }

    /* Hover effect for the menu icon */
    .menu-btn:hover {
        cursor: pointer;
    }

    .menu-btn.open~#nav-links {
        display: flex;
        flex-direction: column;
        width: 50rem;
        background-color: white;
        z-index: 10;
        position: absolute;
        top: 15rem;
        padding: 5rem;
        border-radius: 1.2rem;
    }

    /* hamburger menu icon styling ends here */



    .menu-container {
        padding: 3rem;
        gap: 2rem;
    }

    #news-letter-container {
        justify-content: center;
    }

    .nl-content {
        padding: 5rem 1rem;
    }

    .nl-img {
        display: none;
    }


    #order-main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .order-card {
        min-width: 27rem;
        width: 30%;
    }


    .input-group {
        flex-wrap: wrap;
    }

    .input-box {
        margin: 2rem 0;
    }

    .summ {
        max-width: 100%;
    }
}

@media only screen and (max-width: 670px) {
    .order-card {
        width: 100%;
        height: 20rem;
        padding: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 56.25%;
    }


}

@media only screen and (max-width: 480px) {

    .quote {
        font-size: 4rem;
    }

    #quote-box>span {
        font-size: 8rem;
    }

    .intro-text {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .about-img {
        height: 60rem;
    }

    #about-container {
        padding: 5rem 1rem;
    }

    .heading {
        font-size: 3rem;
    }

    .heading-2 {
        font-size: 3.5rem;
    }

    .card-main-content {
        left: 10%;
    }

    .main-category-btn {
        width: 10rem;
    }

    .view-all-btn {
        font-size: 1.5rem;
    }


    .menu-container {
        justify-content: center;
    }

    #Order {
        padding: 10rem 1.5rem 1.5rem;
    }

}