@media only screen and (max-width: 1023px) {
    #about-container {
        flex-wrap: wrap;

        .about-img {
            width: 100%;
            height: 45rem;
            margin: 0;
        }

        .about-img img {
            object-fit: cover;
        }

        .about-content {
            margin-top: 3rem;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 767px) {
    .nl-img {
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    html {
        font-size: 52.5%;
    }
}